
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheet.css">


    <!-- 以下のfont googleはコピーして移す -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">


  </head>
  <body>
    <h1>サービス名</h1>
    <div class="wrapper">
      <form class="deposit-form">
        <ul>
          <li><label for="deposit">&#x1f381 Deposit</label></li>
          <li><input type="text" name="deposit" class="deposit-amount"></li>
          <li><input type="submit" value="送信" class="deposit-submit"></li>
      </form>
    </div>
  </body>
</html>
